.filmes {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1000px) {
  .filmes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .filmes {
    grid-template-columns: repeat(1, 1fr);
  }
}