.filmecheck {
  background-color: #EFEFEF;
  min-height: 60px;
  min-width: 150px;
  padding: 8px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.filmecheck:hover{
  cursor: pointer;
}

.filmecheck-check {
  margin-left: 8px;
}

.filmecheck-detalhes {
  margin-left: 16px;
}

.filmecheck-detalhes-titulo {
  font-weight: bold;
}



