.filmevencedorcaixa {
  display: flex;
  margin-top: 10px;
  height: 100px;
}

.filmevencedorcaixa-colocado {
  background-color: #265E53;
  color: white;
  font-size: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filmevencedorcaixa-titulo {
  background-color: white;
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

