.header {
  background-color: #3A907E;
  color: white;
  text-align: center;
  padding: 32px;
  margin-bottom: 8px;
}

.header-titulo {
  font-size: 13px;
  color: #C0C0C0;
}

.header-fase {
  font-size: 30px;
  margin: 0;
  margin-bottom: 16px;
}

.header-traco {
  background-color: #C0C0C0;
  width: 20px;
  height: 2px;
  margin: auto;
  margin-bottom: 32px;

}

.header-descricao {
  font-size: 13px;
  margin: auto;
  max-width: 500px;
}