body{
  background-color: #A8A8A8;
}

.app {
  margin: 32px;
}

.filmes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -4px;
  left: -4px;
  border: 2px solid #909090;
  border-radius: 3px;
  background-color: white;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #909090;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -2px;
  left: 2px;
}

