.app {
  margin: 32px;
}

.selecao-detalhes {
  display:flex;
  justify-content:space-between;
  margin-bottom: 8px;
}

.selecao-detalhes-texto {
  color: white ;
  font-size: 18px;
  font-weight: bold;
}

button.botao {
  background-color: #FFBC03;
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
button.botao:hover {
  cursor: pointer;
}


input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -4px;
  left: -4px;
  border: 2px solid #909090;
  border-radius: 3px;
  background-color: white;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #909090;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -2px;
  left: 2px;
}

.botao-novo-jogo {
  margin-top: 8px;
}